.wrapPage{
    width: 100%;
    height: auto;
    background-color: #133e6c;
}

.wrapInput{
    display: flex;
    justify-content: center;
    margin:  auto;
    position: relative;
    width: 300px;
    height: auto;
    padding-left: 50px;
    border-radius: 50px;
    border: 2px solid #10568c;
    transition: all 0.3s ease;
}

.wrapInput:hover{
    transform: scale(1.1);
    border: 3.4px solid #9f4220;
}

.footer {
    background-color: #1a1a1a; 
    color: #f0f0f0; 
    text-align: center;
    padding: 1.5rem;
    font-size: 1rem;
  }

  
  .footerIcons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .footerIcons img {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
  }
  
  .footerIcons img:hover {
    transform: scale(1.2); 
  }

@media (min-width: 1666px){
    .wrapCard{
        padding-left: 10%;
        padding-right: 10%;
        }
 
}
